// Colors
$white: #FFF;
$bg-color: #E5EAF4;
$black: #000;
$lightgray: #E2E2E2;
$primary: #f7931a;
$red: #f71a1a;
$white50: rgba(255, 255, 255, 0.5);
$shadow-black: rgba(0,0,0,0.40);
$grey20: #eeeeee;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
